# CRONTAB file. Add cron jobs here and make sure to uncomment reference to it in Dockerfile
# IMPORTANT! Make sure that there's a newline at the end of this file!

# Run "php artisan schedule:run"
* * * * * /usr/local/bin/php /var/www/html/artisan schedule:run >> /dev/null 2>&1
